wetty_use_nginx: true
wetty_nginx_port: 443
wetty_server_name: "{{ ansible_fqdn }}"

# SSL settings
wetty_use_ssl: true
wetty_generate_self_signed_cert: true
wetty_ssl_cert_path: "/etc/ssl/certs/wetty.pem"
wetty_ssl_key_path: "/etc/ssl/private/wetty.key"
wetty_ssl_subject: "/C=US/ST=New York/L=New York/O=IT/CN={{ wetty_server_name }}"
wetty_http_username: wetty
wetty_http_password: "{{ vault_wetty_http_password }}"
